<main class="main">
  <div class="content">
    <div class="left-side">

      <h1>{{ title | uppercase }}</h1>
      <div class="container">
        <div class="cell">
          <app-cell></app-cell>
        </div>
      </div>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <div class="pill-group">
        <p class="pill text-danger">Amadou</p>


        <app-cell></app-cell>
      </div>
      <div class="social-links">
        <h2>Result</h2>
      </div>
    </div>
  </div>
</main>


<router-outlet></router-outlet>